<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.swot">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 파일 쓰기 권한 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 파일 읽기 권한 -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 카메라 전환 -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_swot"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_swot_round"
        android:supportsRtl="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".StudyuserActivity"
            android:exported="true" />
        <activity
            android:name=".StudyInfoActivity"
            android:exported="true" />
        <activity
            android:name=".CboxActivity"
            android:exported="true" />
        <activity
            android:name=".CheckActivity"
            android:exported="true" />
        <activity
            android:name=".NotifyActivity"
            android:exported="true" />
        <activity
            android:name=".BaseActivity"
            android:exported="true" />
        <activity
            android:name=".AddPictureActivity"
            android:exported="true" />
        <activity
            android:name=".MyinfoActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".GroupActivity"
            android:exported="true" />
        <activity
            android:name=".JoinActivity"
            android:exported="true" />
        <activity
            android:name=".RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".AttendanceActivity"
            android:exported="true" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddActivity"
            android:exported="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.swot.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>